/* header do comentário */
.headerComentario div{
    display: flex;
    flex-direction: column;
}

.headerComentario div strong {
    font-size: 0.875rem;
    font-weight: 700;
    color:var(--gray7);
}

.headerComentario div span {
    font-size: 0.75rem;
    font-weight: 400;
    color:var(--gray5);
}

.headerComentario button {
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    background-color: transparent;
    color: var(--gray5);
}

.headerComentario button:hover {
    color: var(--red);
}

/* background box */

.comentario{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 2rem;
}

.comentarioSide {
    width: 100%;
}
.bgComentario {
    background-color: var(--gray3);
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
}

.bgComentario p{
    padding-top: 1rem;
    font-size:0.875rem;
    font-weight: 400;
    color: var(--gray6);
}

.iconLike {
    font-size: 1.25rem;
    color: var(--gray5);
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.iconLike:hover  {
    font-size: 1.25rem;
    color: var(--gray7);
}
.iconLike:focus  {
    font-size: 1.25rem;
    color: var(--green);
}